.button{
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    background-color: pink ;
    border: 5px solid rgb(226, 33, 146);
    color: rgb(236, 9, 130) ;
    border-radius: 7px;
    /*transition-property: transform;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay: 0s;*/
    transition: all 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 100px black;
}   
body{
    padding: 300px;
}
.button:hover{
    transform: translateY(-10px);
    background-color: rgb(226, 33, 146) ;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}