.container{  
    width:220px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    background-color: pink ;
    border: 5px solid rgb(226, 33, 146);
    color: rgb(236, 9, 130) ;
    border-radius: 7px;
    /*transition-property: transform;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay: 0s;*/
    transition: all 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

.container:hover{
    transform:translateY(-10px);
    background-color: rgb(226, 33, 146) ;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}